body {
	text-align: center;
	padding-top: 40px;
}

.register-form {
	display: inline-grid;
	margin-top: 2vh!important;
	width: 40%;
}

.form {
	display: inline-grid;
	margin-top: 10vh;
	width: 20%;

}

.input-group {
	padding-bottom: 5%;
}

.btn {
	width: -webkit-fill-available;
	margin-bottom: 3%!important;
}

.name {
	display: inline-block;
}

.error {
	color: red;
}

@media only screen  and (min-width :720px) {


	.register-form {
		display: inline-grid;
		margin-top: 2vh!important;
		width: 60%;
}

	.form {
		display: inline-grid;
		margin-top: 10vh;
		width: 40%;

}
}

