body {
	text-align: center;
	padding-top: 40px;
}

.register-form {
	display: inline-grid;
	margin-top: 2vh!important;
	width: 40%;
}

.form {
	display: inline-grid;
	margin-top: 10vh;
	width: 20%;

}

.input-group {
	padding-bottom: 5%;
}

.btn {
	width: -webkit-fill-available;
	margin-bottom: 3%!important;
}

.name {
	display: inline-block;
}



.error {
	color: black;
	display: inline-grid;
	width:20%;
	background-color: #fcb1ac;
}

.error_inline {
	width:100%;
}

.login-container {
	margin-top: 5%;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


	.register-form {
		display: inline-grid;
		margin-top: 2vh!important;
		width: 60%;
}

	.form {
		display: inline-grid;
		margin-top: 10vh;
		width: 60%;

}
	.login-container {
		margin-top: 20%;
	}

	.error {
		width:60%;
	}

	.error_inline {
		width: 100%;
	}

}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

	.register-form {
		display: inline-grid;
		margin-top: 2vh!important;
		width: 60%;
}

	.form {
		display: inline-grid;
		margin-top: 10vh;
		width: 60%;

}
	.login-container {
		margin-top: 0px;
	}

  }



@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

	.form {
		width: 40%;
	}

	

}


