{% extends "layout.html" %}

{% block content %}

<div id='bookDetails' class='container-fluid row'>
	<div class="detail-image col-lg-4">
		<img class="title_image" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" alt="Card image cap">
	<div class='book-details text-left'>	
	    <h5> {{ book.title }} </h5>
	    <h6> Author:{{ book.author }} </h6>
	    <h6> Publication: {{ book.year }}</h6>
	    <h6> ISBN: {{ book.isbn }} </h6>
	</div>
    </div>

    <div class='text-left reviews col-lg-8'>

	    <h5>Goodreads Average Rating: {{ gd_review_book.average_rating}} </h5>
	   	<h5> Goodreads Reviews: {{ gd_review_book.work_ratings_count }}</h5>
	   	
	   	{% if results %}
		   	<div class='review'>
		    {% for item in results %}
		    	<p><strong>{{ item.username }}</strong> says: {{ item.review }}</p>
		    	<p> {{ item.rating }}</p> 	

		 	{% endfor %}
		 	</div>
	 	{% endif %}
		
		 	

	   	<form class="form-inline" method='POST'>
	   		<select name="rating" id="Rating">
  				<option value="1">1</option>
  				<option value="2">2</option>
  				<option value="3">3</option>
  				<option value="4">4</option>
  				<option value="5">5</option>
  			</select>
	   			
	            <textarea cols="400" rows="9" id="Review" class="form-control mr-sm-2" type="text" name ='review' placeholder="Submit a Review" aria-label="Submit a Review"></textarea>  
	            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button> 
	    </form> 
    </div>  
 
</div>
{% endblock %}