{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
        <div class='entry-text'>
        <h1>Register for Readable </h1>
        <h5> Join a community of international literature enthusiasts! </h5>
        </div>

      
	        <form class="form register-form" action="{{ url_for('success') }}" method='post'>
              <div class="input-group">
                
                <input type="text" class="form-control register-form" name='FirstName' placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                <input type="text" class="form-control register-form" name='LastName' placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
             
                <input type="text" class="form-control register-form" name='email' placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">  
                <input type="text" class="form-control register-form" name='username' placeholder="Username" aria-describedby="basic-addon1">
                <input type="password" class="form-control register-form" name='password' placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
              </div>

              <div class='input-group-button'>
                <button class="btn btn-primary register-buttons">Register</button>
            
              <a class="btn btn-primary register-buttons" href="{{ url_for('index') }}" role="button">Cancel</a> 
            </div>


            </form>
          
                         
{% endblock %}